html
  head
   meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
   link(rel="apple-touch-icon", href=app_icon)
   link(rel='stylesheet' href='/libs/untibano.css')
   title #{title}
  body
   header
      div(class="container")
         p #{header}
   main
      article
          center
             b
               h1 #{serving}
               h3 (#{timeAgo})
   footer
       p class="container"
          a(href="https://www.github.com/hhemmer/UnTiBaNo") Visit project on GitHub